{
  "project_info": {
    "project_number": "1013215369894",
    "project_id": "peter-care",
    "storage_bucket": "peter-care.firebasestorage.app"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:1013215369894:android:YOUR_ANDROID_APP_ID",
        "android_client_info": {
          "package_name": "com.petercare.app"
        }
      },
      "oauth_client": [],
      "api_key": [
        {
          "current_key": "YOUR_FIREBASE_API_KEY"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}
